body {
    font-size: 18px;
    font-weight: 400;
    font-family:  'Montserrat', sans-serif;
    font-size: 100%;
    background-image: url("../images/main.png");
    background-repeat: no-repeat;
    background-position: top center;
    
}




.container {
    max-width: 1220px;
    margin: 0 auto;
    padding: 0px 15px;
    height: inherit;
  }

  /* ------header_start------------- */
  .background {
    min-width: 100%;
    min-height: 100vh;

    
  }
  .header {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    color: #1C1D23;

    width: 100%;
    /* min-width: 1920px;*/
    height: 90px;
    background-color: rgba(255, 255, 255, 0.9);
    display: flex;
    padding: 25px 0 8px;
    
    

    position: sticky;
    top: 0;
  }
  
  .nav {
    
    padding-left: 50px;
  
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  .logo {
    padding-right: 40px;
  }
  .menu {
    display: flex;
    gap: 0 40px;
    
  }
  .menu_item {
    /* padding-right: 40px; */
  }
  /* -----header_end------------- */

  /* --------------main_section  started---------- */

/* -----headline started------- */
  .main {
    margin-top: 180px;
  }
  .headline {
    padding-bottom: 170px;
  }
  
  .headline__title {
    
    font-weight: 400;
    font-size: 64px;
    line-height: 78px;
    padding-bottom: 50px;

    position: relative;
    
  
  }
  .headline__title::before {
    display: inline-block;
    content: "";
    background-image: url("../images/blur.svg");
    width: 243px;
    height: 42px;
    position: absolute;
    top: 42px;
    z-index: -1;
  }

  .headline__text {
    line-height: 22px;
    max-width: 500px;
    padding-bottom: 80px;
  }
  
  .headline__btn-group {
    display: flex;
    
    
  }
  .btn {
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 27px;

    background-color: #ECB942;
    border-radius: 8px;
    padding: 15px 46px;
  }
  .headline_btn {
    
  }
  .btn--icon {
    background-color: unset;
  }
  .btn--icon::after {
    display: inline-block;
    content: "";
    background-image: url("../images/vector.svg");
    border-image: ;
    width: 14px;
    height: 17px;
    margin-left: 10px;
    background-repeat: no-repeat;

  }
  
  .headline_btn-vector {
    background-color: transparent;
  }
  
  /* .button_vector {
    width: 12px;
    height: 14px;
    position: absolute;
    left: 150px;
    top: 23px;
  } */
  .headline__info{
    position: relative;
    top: -30px;
    left: 310px;
  }
  .headline__info::after {
    content: "";
    display: block;
    width: 96px;
    height: 96px;
    border-radius: 50%;
    background-color: #ECB942; 

    position: absolute;
    top: 0;
    left: 0;
    z-index: -100;
  }
  .info__title {
    position: absolute;
    top: 12px;
    left: -77px;
  
   
    font-weight: 400;
    font-size: 48px;
    line-height: 59px;

    padding-right: 50px;
    white-space: nowrap;
  }
  .info__title--text {
    font-size: 16px;
    line-height: 20px;

    position: absolute;
    top: 70px;
    left: -70px;
    z-index: 1; 
  }
    


    
 /* -----starting info_block---- */
 .info {
  padding-bottom: 90px;
}

.info-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.info_list {
  max-width: 320px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.info_list img {
  padding-bottom: 20px;
  a
}
.info_list h3 {
  font-size: 36px;
  line-height: 44px;
  padding-bottom: 30px;
}
.info_list p{
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  text-align: center;
}

/* ----section work started---- */
.work {
}
.container {
}
.work_inner {
  display: flex;
  justify-content: space-between;
}
.work_img {
}
.work_info {
  /* display: flex;
  flex-direction: column;
  justify-content: center; */
  padding-left: 50px;
}

.work_title {
  font-size: 48px;
  line-height: 58px;
  padding-bottom: 45px;
}
