body {
    font-size: 18px;
    font-weight: 400;
    font-family:  'Montserrat', sans-serif;
    font-size: 100%;
    /* background: url("../images/main.png") no-repeat 50% 0; */
    overflow-x: hidden;
  }





.container {
    max-width: 1220px;
    margin: 0 auto;
    padding: 0px 15px;
    height: inherit;
    /* overflow-x: hidden; */
}

  /* ------header_start------------- */
  .background {
    min-width: 100%;
    min-height: 100vh;
    

    
  }
  .header {
    font-family: 'Poppins', sans-serif;
    font-size: 17px;
    font-weight: 600;
    line-height: 24px;
    color: #1C1D23;

    width: 100%;
    margin: 0 auto;
    min-width: 1920px;
    height: 90px;
    background-color: rgba(255, 255, 255, 0.9);
    display: flex;
    padding: 25px 0 8px;
    padding-left:unset ;
    
    

    position: fixed;
    top: 0;
    z-index: 1000;
  }
  .header__container {
    max-width: 1200px;
    padding-left: 120px;

  }
  
  .nav {

    padding-left: 50px;
  
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  .header__logo {
    padding-right: 40px;
  }
  .menu {
    display: flex;
    gap: 0 40px;
    
  }

  /* -----header_end------------- */


  /* --------------main_section  started---------- */


/* -----headline started------- */
  .main {
    margin-top: 180px;
    padding-left: 
  }
  .headline {
    padding-bottom: 270px;
  }

  .headline__title {
    
    font-weight: 400;
    font-size: calc(42px + 24 * (100vw / 1200));
    line-height: calc(45px + 30 * (100vw / 1200));
    padding-bottom: 50px;

    position: relative;
    
  
  }
  .headline__title::before {
    display: inline-block;
    content: "";
    background-image: url("../images/blur.svg");
    width: 243px;
    height: 42px;
    position: absolute;
    top: 42px;
    z-index: -1;
  }

  .headline__text {
    line-height: 22px;
    max-width: 500px;
    padding-bottom: 80px;
  }
  
  .headline__btn-group {
    display: flex;
    flex-wrap: wrap;
    
    
  }
  .btn {
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 27px;

    background-color: #ECB942;
    border-radius: 8px;
    padding: 15px 46px;
  }
  /* .headline_btn {
    
  } */
  .headline_btn__icon {
    background-color: unset;
  }
  .headline_btn__icon::after {
    display: inline-block;
    content: "";
    background-image: url("../images/vector.svg");
    border-image:none ;
    width: 14px;
    height: 17px;
    margin-left: 10px;
    background-repeat: no-repeat;

  }
  
  .headline_btn-vector {
    background-color: transparent;
  }
  
  .headline__count{
    position: relative;
    top: -120px;
    left: 690px;
  }
  .headline__count::after {
    content: "";
    display: block;
    width: 96px;
    height: 96px;
    border-radius: 50%;
    background-color: #ECB942; 

    position: absolute;
    top: 0;
    left: 0;
    z-index: -100;
  }
  .headline__count-title {
    position: absolute;
    top: 12px;
    left: -77px;
  
   
    font-weight: 400;
    font-size: 48px;
    line-height: 59px;

    padding-right: 50px;
    white-space: nowrap;
  }
  .headline__count-text {
    font-size: 16px;
    line-height: 20px;

    position: absolute;
    top: 70px;
    left: -70px;
    z-index: 1; 
  }
    


    
 /* -----starting info_block---- */
 .info{
  padding-bottom: 105px;
 }
 .info__list{
  display: flex;
  justify-content: space-between;
  align-items: center;
 }
 .info__item {
  max-width: 360px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-right: 30px;
 }
 .info__img {
  /* margin-bottom: 20px; */
 }
.info__title {
  font-size: 36px;
  line-height: 44px;
  padding-bottom: 30px;
  white-space: nowrap;
}
.info__title_trees {
  position: relative;
  
}
.info__title_trees::before {
  content: "";
  display: inline-block;
  background: url(../images/tree.svg) no-repeat;
  width: 69px;
  height: 83px;
  position: absolute;
  top: -100px;
  left: 117px;
}
.info__title_book {
  position: relative;
}
.info__title_book::before {
  content: "";
  display: inline-block;
  background: url(../images/book.svg) no-repeat;
  width: 81px;
  height: 66px;
  position: absolute;
  top: -90px;
  left: 81px;
}
.info__title_africa {
  position: relative;
}
.info__title_africa::before {
  content: "";
  display: inline-block;
  background: url(../images/africa.svg) no-repeat;
  width: 64px;
  height: 76px;
  position: absolute;
  top: -101px;
  left: 159px;
}

.info__text{
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  text-align: center;
  max-width: 310px;
}


/* ----section work starting---- */
.work {
  padding-bottom: 135px;
}
.work__inner {
  display: flex;
  justify-content: space-between;
}
.work__info {
  padding-left: 50px;
}
.work__title {
  font-size: 48px;
  line-height: 58px;
  padding-bottom: 45px;
  white-space: nowrap;
  position: relative;
}
.work__text {
  max-width: 426px;
  padding-left: 70px;
}
.work__title::after{
  content: "";
  display: inline-block;
  background-image: url(../images/blur.svg);
  background-repeat: no-repeat;
  width: 243px;
  height: 42px;
  position: absolute;
  z-index: -1;
  top: 28px;
  left: 159px;
}
.work__text_img-tree {
  font-weight: 600;
  font-size: 24px;
  line-height: 30px;
  margin-bottom: 45px;
  position: relative;
}
.work__text_img-tree::before {
  content: "";
  display: inline-block;
  background: url(../images/tree.png) no-repeat;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 1px;
  left: 1px;
}


.work__text_img-book {

  margin-bottom: 50px;
  font-weight: 600;
  font-size: 24px;
  line-height: 30px;
 
  
  position: relative;
}
.work__text_img-book::before {
  content: "";
  display: inline-block;
  background: url(../images/book.png) no-repeat;
  background-repeat: no-repeat;
  width: 100% ;
  height:100% ;
  position: absolute;
  top: 15px;
  left: 1px;
}
.work__text_info {
  font-size: 18px;
  line-height: 22px;
  min-width: 426px;
  padding: 0;
}


/* ---starting mission block----- */
  .mission {
    padding: 0 50px 70px;
    display: flex;
    flex-wrap: wrap;
  }
  .mission__block-text {
    max-width: 485px;
    margin-right: 53px;
  }
  .mission__title {
    font-size: 48px;
    line-height: 59px;
    text-align: center;
    max-width: 485px;
    margin-bottom: 15px;
    position: relative;
  }
  .mission__title::before {
  content: "";
  display: inline-block;
  background: url(../images/blur.svg) no-repeat;
  background-repeat: no-repeat;
  width: 243px;
  height: 42px;
  position: absolute;
  z-index: -1;
  top: 25px;
  left: 106px;
  }
  .mission__text {
    line-height: 22px;
    padding-bottom: 50px;
  }
  .mission__block-numbers {
    height: 410px ;
  }
  .mission__row {
    max-width: 222px;
    margin-bottom: 60px;
    line-height: 22px;
  }
  .mission__row:last-child{
    margin-bottom: 0;
  }
  .mission__row_big-text {
    font-size: 36px;
    line-height: 44px;
    padding-bottom: 10px;
  }
  .mission__row_green{
    position: relative;
  }
  .mission__row_green::before {
    content: "";
    display: inline-block;
    width: 56px;
    height: 56px;
    border-radius: 50px;
    background-color: #97BC59;
    position: absolute;
    z-index: -1;
    top: -7px;
    left: -22px;
  }
  .mission__row_green::after {
    content: "";
    background: url(../images/line-green.svg) no-repeat;
    display: inline-block;
    width: 405px;
    height: 59px;
    position: absolute;
    top: 10px;
    left: 183px;
  }
  .mission__row_yellow {
    position: relative;
  }
  .mission__row_yellow::before {
    content: "";
    display: inline-block;
    width: 56px;
    height: 56px;
    border-radius: 50px;
    background-color: #ECB942;
    position: absolute;
    z-index: -1;
    top: -7px;
    left: -22px;
  }
  .mission__row_yellow::after {
    content: "";
    background: url(../images/line-yellow.svg);
    display: inline-block;
    width: 405px;
    height: 59px;
    position: absolute;
    top: 10px;
    left: 183px;
  }
  .mission__row_blue {
    position: relative;
  }
  .mission__row_blue::before {
    content: "";
    display: inline-block;
    width: 56px;
    height: 56px;
    border-radius: 50px;
    background-color: #B0CEF1;
    position: absolute;
    z-index: -1;
    top: -2px;
    left: -17px;
  }
  .mission__row_blue::after {
    content: "";
    background: url(../images/line-blue.svg);
    display: inline-block;
    width: 405px;
    height: 59px;
    position: absolute;
    top: 33px;
    left: 183px;
  }


  /* ---partners-block starting----- */
  .partners {
    padding-bottom: 140px;
    text-align: center;
  }
  .line {
    max-width: 1130px;
    border-top: solid 1px #E5E5E5;
  }
  .partners__line {
    margin-bottom: 70px;
  }
  .partners__title {
    font-size: 48px;
    line-height: 59px;
    padding-bottom: 80px;
    /* position: absolute;
    top: 1px;
    left: 1px; */

  }
  .partners__block {
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 70px;
    position: absolute;
  }
  .partners__igm {
  }
  .partners__img_orange{
    display: inline-block;
  }
  .partners__block:before {
  content: "";
  display: inline-block;
  background: url(../images/blur-midle.png) no-repeat;
  width: 326px;
  height: 146px;
  position: absolute;
  z-index: -1;
  top: -39px;
  left: 527px;
  }

  /* ---section form----- */
  .form {
    background: url(../images/form-img.png) no-repeat;
    position: relative;
    padding-bottom: 0 190px;
    margin-top: 80px;
  }
  .form::before {
    content: "";
    display: block;
    background: url(../images/form-decor.png) no-repeat ;
    width: 1490px;
    height: 560px;
    position: absolute;
    top: -103px;
    left: -157px;
    z-index: -1;
    
    
  }
  
  .form__inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
    
  }
  .form__title{
    text-align: center;
    max-width: 560px;
    font-size: 48px;
    line-height: 59px;
    color: #fff;
 
    margin-bottom: 22px;
  }
  .form__text {
    max-width: 940px;
    text-align: center;
    font-size: 18px;
    line-height: 22px;
    color: #fff;
    margin-bottom: 60px;
  }
  .form__button {
    color:#1C1D23 ;
    font-family:'Poppins', sans-serif;
    font-size: 18px;
    line-height: 27px;
    font-weight: 500;
    white-space: nowrap;

    padding: 18px 46px;
    border-radius: 8px;
    background-color: #ECB942;
  }

  /* ---footer----- */
  .footer {
    padding-left: 50px;
  }
  .footer__contacts {
    display: flex;
    justify-content: space-between;
    padding-bottom: 30px;
  }
  .footer__phone-block {
    text-align: center;
    padding-right: 30px;
  }
  .footer__text {
    line-height: 22px;
    margin-bottom: 30px;
  }
  .footer__phone{
    font-size: 24px;
    line-height: 30px;
    padding-left: 30px;
    position: relative;
    white-space: nowrap;
  }
  .footer__phone::before {
    content: "";
    display: inline-block;
    background: url(../images/phone.svg) no-repeat ;
    width: 44px;
    height: 44px;
    position: absolute;
    top: -10px;
    left: -30px;
  }
  .footer__social {
    text-align: center;
  }
  .footer__text {
    line-height: 22px;
  }
  .footer__logo-social  {
    display: flex;
   gap: 8px;
  }
  .footer__line {
    margin-bottom: 70px;
  }
  .footer__rights {
    padding-bottom: 130px;
    text-align: center;
  }
  .footer__logo {
    display: block;
    margin-bottom: 50px;
  }
  .footer__rights_rights {
    display: block;
  }

  /* js components============= */

  .menu_btn {
    display: none;
  }


  /* адптивность js styles =========================*/
  @media(max-width: 940px) {

    .menu_btn {
      display: inline-block;
      width: 50px;
      height: 50px;
      background-color: transparent;
      border: none;
      cursor: pointer;
      order: 1;
      position: relative;
      z-index: 50;
      left: 150px;
  
    }
    .btn_line {
      position: absolute;
      left: 0;
      width: 100%;
      background-color: #c22929;
      height: 2px;
  
      transition: .3s ease;
    }
    .btn_line:nth-child(1){
      top: 0;
    }
    .btn_line:nth-child(2){
      top: 20px;
    }
    .btn_line:nth-child(3){
      top: 20px;
    }
    .btn_line:nth-child(4){
      top: 40px;
    }
    .menu_open .btn_line:nth-child(1) {
      transform: scaleX(0);
    }
    .menu_open .btn_line:nth-child(2) {
      transform: rotate(45deg);
    }
    .menu_open .btn_line:nth-child(3) {
      transform: rotate(-45deg);
    }
    .menu_open .btn_line:nth-child(4) {
      transform: scaleX(0);
    }.menu_open .menu {
      transform: translateY(0);
    }
    .menu_open body{
      display: none;
      background-color: #E5E5E5;
    }
    
    .menu {
      position: relative;
      left: 0px;
      top: -50px;
      bottom: 0;
      right: 0px;
  
      display: flex;
      justify-content: left;
      align-items: center;
      flex-direction: column;
      transform: translateY(-100%);
      transition: .3s ;
    }
  
    .menu_item {
      padding: 40px 0;
      font-size: 50px;
    }
  }
  .menu_open .menu {
    transform: translateY(0);
    position: relative;
      left: 0px;
      top: 0px;
      bottom: 0;
      right: 0px;
      transition: .4s ease;
}
.menu_open body {
  overflow: hidden; /* Чтобы страница не прокручивалась, когда меню открыто */
}

@media(max-width: 1050px) {
  .header__container {
    padding-left: 20px;
  }
  .info__title {
    font-size: 27px;
    line-height: 16px;
    padding-bottom: 25px;
  }
  .info__title_trees::before {
    top: -100;
    left: 80px;
  }
  .info__title_book::before {
    left: 60px;
    
  }
  .info__title_africa::before {
    left: 100px;
  }
  .partners {
    max-width: 800px;
  }
  .partners__title {
    padding-left: calc(50% - 96px);
  }

  .form__text {
    font-size: calc(110% - 1px);
  }
  .form__inner {
  }
  .form__title {
    max-width: 800px;
   margin: auto;
  }
  .form::before {
    display: none;
  }
}
@media(max-width: 980px) {
  
  
  .headline__count {
    display: none;
   }

  .info__title {
    font-size: 20px;
    line-height: 12px;
    padding-bottom: 15px
  }
  .info__title_trees::before {
    top: -100;
    left: 60px;
  }
  .info__title_book::before {
    left: 40px;
    
  }
  .info__title_africa::before {
    left: 80px;
  }
  .info__text {
    font-size: 15px;
    line-height: 22px;
    text-align: center;
    max-width: 250px
  }


  .work__inner {
    /* flex-wrap: wrap-reverse; */
  }
  .work__img {
    width: 456px;
    height: 410px;
  }
  .work__title {
    font-size: 33px;
    line-height: 42px;
    padding-bottom: 28px;
  }
  .work__text {
    font-weight: 500;
    font-size: 20px;
    line-height: 25px;
    margin-bottom: 18px;
  }

  .mission__title::before {
    display: none;
   }


  .partners {
    max-width: 800px;
  }
  .partners__title {
    font-size: 39px;
    line-height: 45px;
  }
  .partners__block {
    flex-wrap: wrap;
    padding-left: 100px;
    gap: 50px;
  }
  .partners__img {
    width: calc(30% - 1px);
  }
  .partners__block:before {
    display: none;
  }
  .partners__title {
    padding-bottom: 40px;
  }
  
  .form__inner {
  }
  .form__title {
    max-width: 800px;
   margin: auto;
   font-size: 34px;
   line-height: 47px;
  }
  .form::before {
    display: none;
  }
}
@media(max-width:630px) {
    /* .headline__count{
      left: 130px;
    } */
   .mission__title::before {
    display: none;
   }
   .form__title {
    font-size: 24px;
    line-height: 32px;
   }
   .form__text {
    line-height: calc(140% - 1px);
  }
}
@media(max-width: 466px) {
  .headline__title {
    font-size: 35px;
    line-height: 42px;
  }
}
@media(max-width: 430px) {
  body {
    background: url(../images/main.png) no-repeat 50% 0%;
    background-size: 140%;
  }
  .headline__title {
  font-size: 36px;
  line-height: 43px;
  padding: 385px 0 15px;
  }
  .headline__text {
    line-height: 18px;
    max-width: 300px;
    padding-bottom: 25px;
}
.headline_btn__icon {
  display: none;
}
.headline__title::before {
  top: 392px;
}
.headline__count {
  position: relative;
  top: -395px;
  left: -94px;
}
.main {
  margin-top: 0;
}
.info__list {
  flex-wrap: wrap;
}
.info__text {
  padding-bottom: 120px;
}
.info__item {
  padding-left: 50px;
}
.work__inner {
  flex-wrap: wrap-reverse;
}
.mission{
  flex-wrap: wrap;
}
.mission__title {
  font-size: 32px;
  line-height: 36px;
  margin-bottom: 11px;
}
.mission__text {
  line-height: 22px;
  text-align: center;
  width: 330px;
  padding-bottom: 50px;
}
.mission__text {
  line-height: 22px;
  text-align: center;
  width: 330px;
}
.mission__text {
  line-height: 22px;
  text-align: center;
  width: 330px;
}
.partners__title {
  font-size: 36px;
  line-height: 43px;
  padding-bottom: 40px;
  white-space: nowrap;
  padding-left: 230px;
}
.form__title {
  font-size: 32px;
  line-height: 39px;
}
.form__text {
  font-size: 14px;
  line-height: 21px;
  padding-left: 76px;
  width: 350px;
}
.form__button {
  margin-left: 100px;
}

.footer__phone {
  
}
.footer__text {
  text-align: left;
  width: 250px;
}
.footer__phone-block{
  padding-right: 30px;
}
}